.btnIsLiked {
  text-shadow: 0px 0px 10px rgb(0, 255, 68);
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  animation: EfectNotLiked 0.6s ease-in;
  transition: 0.05s ease-in-out;
}
.btnIsLiked:hover {
  font-size: 28px;
  text-shadow: 0px 0px 15px rgb(0, 255, 68);
  cursor: pointer;
}

.btnNotLiked {
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  transform: rotate(-220deg);
  animation: EfectLiked 0.6s ease-in-out;
  transition: 0.05s ease-in-out;
}
.btnNotLiked:hover {
  font-size: 21px;
  text-shadow: 0px 0px 5px rgb(77, 88, 80);
  cursor: pointer;
}

@keyframes EfectLiked {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-220deg);
  }
}
@keyframes EfectNotLiked {
  0% {
    transform: rotate(-220deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
