.HomeBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  width: 100vw;
}

.box1 {
  display: flex;
  flex-direction: column;
}
.subbox1 {
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
 
}

.box2 {
  
}
