.ConfigHeader {
  display: flex;
  gap: 10px;
}
.btnEntrar {
  font-size: 25px;
  background-color: rgb(155, 166, 167);
  height: 80px;
  width: 130px;
  border: none;
  border-radius: 5px;
}

.btnEntrar:hover {
  background-color: rgb(139, 150, 139);
}
