.ConfigHeader {
  display: flex;
  gap: 10px;
}
.btnEntrar {
  height: 60px;
  width: 125px;
  background-color: rgb(230, 245, 233);
  border: none;
  padding: 10px 10px;
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgb(78, 85, 82);
}

.btnEntrar:hover {
  box-shadow: 3px 3px 2px rgb(62, 63, 63);
  cursor: pointer;
  font-size: 29.7px;
}

@keyframes EfectOpacite {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 30%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .btnEntrar {
    height: 40px;
    width: 105px;
    background-color: rgb(230, 245, 233);
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(78, 85, 82);
  }

  .btnEntrar:hover {
    font-size: 19.7px;
  }
}
@media (max-width: 767px) {
  .btnEntrar {
    height: 40px;
    width: 105px;
    background-color: rgb(230, 245, 233);
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(78, 85, 82);
  }

  .btnEntrar:hover {
    font-size: 19.7px;
  }
}
