.ProfileBody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 70vw;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgb(95, 95, 95);
  background-color: rgb(173, 175, 173);
  min-height: 80vh;
}
.IconPerfilAndName {
  background-color: rgb(155, 166, 167);
  min-height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  gap: 20px;
}

.IconPerfilAndName img {
  height: 200px;
  border-radius: 50%;
  border: 3px solid rgb(111, 133, 115);
  box-shadow: 5px 5px 4px rgb(88, 88, 88);
}

.IconPerfilAndName input {
  height: 80px;
  width: 60%;
  font-size: 55px;
  outline: none;
  text-align: center;
  border-radius: 5px;
  border: 3px solid rgb(111, 133, 115);
  box-shadow: 5px 5px 4px rgb(88, 88, 88);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .ProfileBody {
    width: 80vw;
    min-height: 80vh;
  }
  .IconPerfilAndName img {
    height: 150px;
  }
  .IconPerfilAndName input {
    height: 70px;
    width: 65%;
    font-size: 45px;
  }
}
@media (min-width: 421px) and (max-width: 767px) {
  .ProfileBody {
    width: 80vw;
    min-height: 80vh;
  }
  .IconPerfilAndName {
    padding: 10px 10px;
    flex-direction: column;
  }
  .IconPerfilAndName img {
    height: 100px;
  }
  .IconPerfilAndName input {
    height: 50px;
    width: 65%;
    font-size: 30px;
  }
}
@media (max-width: 420px) {
  .ProfileBody {
    width: auto;
    height: auto;
  }
  .IconPerfilAndName {
    padding: 10px 10px;
    flex-direction: column;
  }
  .IconPerfilAndName img {
    height: 100px;
  }
  .IconPerfilAndName input {
    height: 40px;
    width: 99%;
    font-size: 25px;
  }
}
