.CardsPostFeed {
  background-image: linear-gradient(rgb(183, 194, 185), rgb(173, 173, 173));
  border-radius: 5px;
}
.headerPostFeed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerPostFeed div {
  display: flex;
  align-items: center;
  padding: 5px;
  min-width: 200px;
}

.headerPostFeed img {
  height: 40px;
  margin-right: 15px;
  border-radius: 50%;
  border: 3px solid rgb(111, 133, 115);
  box-shadow: 3px 3px 3px rgb(88, 88, 88);
}
.headerPostFeed p {
  color: rgb(13, 77, 24);
  font-weight: bold;
  font-size: 20px;
  -webkit-text-stroke: 0.2px rgb(132, 179, 168);
  text-shadow: 2px 2px 3px rgb(88, 88, 88);
}

.headerPostFeed button {
  margin-right: 10px;
}
.headerPostFeed button {
  width: 25px;
  border-radius: 3px;
  background-color: rgb(255, 199, 199);
  box-shadow: 3px 3px 3px rgb(78, 85, 82);
  border: none;
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}
.headerPostFeed button:hover {
  box-shadow: 2px 2px 2px rgb(78, 85, 82);
  cursor: pointer;
  background-color: rgb(255, 150, 150);
  font-size: 19.8px;
}

.AreaLikes {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px 40px;
  padding: 5px;
  border-bottom: 1px solid black;
}
.AreaLikes p:first-of-type {
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(77, 88, 80);
  transition: 0.09s ease-in-out;
}
.AreaLikes p:first-of-type:hover {
  font-size: 28px;
  text-shadow: 2px 2px 2px rgb(77, 88, 80);
  cursor: pointer;
}
.AreaLikes p:last-of-type {
  font-size: 20px;
  text-shadow: 2px 2px 2px rgb(77, 88, 80);
}
.bodyPostFeed {
  padding: 10px 20px;
  text-shadow: 1px 1px 2px rgb(77, 88, 80);
  font-size: 18px;
}
