.ComentsPost {
  background-color: rgb(183, 201, 183);
  box-shadow: 3px 3px 3px rgb(78, 85, 82);
  margin-left: 20px;
  margin-right: 20px;
  padding: 3px;
  border-radius: 5px;
}
.CardCommentsPost {
  background-image: linear-gradient(
    54deg,
    rgba(78, 85, 82, 0.192),
    rgb(183, 201, 183)
  );

  width: 500px;
  border-radius: 5px;
  padding: 3px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(187, 197, 190);
  margin-bottom: 5px;
  min-width: 60%;
}

.headerCommentsPost {
  display: flex;
  justify-content: space-between;
}
.headerCommentsPost div {
  display: flex;
}

.headerCommentsPost img {
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgb(88, 88, 88);
  height: 20px;
  margin-right: 8px;
}
.headerCommentsPost p {
  color: rgb(13, 77, 24);
  font-weight: bold;
  -webkit-text-stroke: 0.1px rgb(149, 233, 215);
  text-shadow: 1px 1px 2px rgb(88, 88, 88);
}

.headerCommentsPost button {
  width: 25px;
  border-radius: 3px;
  background-color: rgb(255, 199, 199);
  box-shadow: 3px 3px 3px rgb(78, 85, 82);
  border: none;
  font-weight: bold;
  font-size: 20px;
}
.headerCommentsPost button:hover {
  box-shadow: 2px 2px 2px rgb(78, 85, 82);
  cursor: pointer;
  background-color: rgb(255, 150, 150);
  font-size: 19.8px;
}
.bodyComment {
  margin-left: 35px;
}
