.LoginBody {
  margin-top: 100px;
  background-color: rgb(172, 184, 185);
  border: 1px solid rgb(156, 167, 168);
  border-radius: 5px;
  padding: 50px 20px;
  height: fit-content;
} 
.LoginBody form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.LoginBody button {
  background-color: rgb(230, 245, 233);
  box-shadow: 4px 4px 4px rgb(78, 85, 82);
  border: none;
  padding: 10px 10px;
  font-size: 20px;
  border-radius: 5px;
}
.LoginBody button:hover {
  box-shadow: 3px 3px 2px rgb(78, 85, 82);
  cursor: pointer;
  font-size: 19.8px;
}
.LoginBody input {
  padding: 0px 5px;
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.LoginBody div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LoginBody p {
  margin-bottom: 30px;
}
