header {
  position: fixed;
  width: 100vw;
  background-color: rgb(173, 175, 173);
  box-shadow: 3px 3px 3px rgb(88, 88, 88);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
