.ProfileHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProfileHeader img {
  height: 70px;
  border-radius: 50%;
  border: 3px solid rgb(111, 133, 115);
  box-shadow: 3px 3px 3px rgb(88, 88, 88);
}

.ProfileHeader p {
  color: rgb(13, 77, 24);
  margin: 0px 30px;
  font-weight: bold;
  font-size: 35px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ProfileHeader img {
    height: 60px;
  }
  .ProfileHeader p {
    font-size: 25px;
  }
}
@media (min-width: 421px) and (max-width: 767px) {
  .ProfileHeader img {
    height: 40px;
  }
  .ProfileHeader p {
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  .ProfileHeader {
    flex-direction: column;
    text-align: center;
  }
  .ProfileHeader img {
    height: 30px;
  }
  .ProfileHeader p {
    font-size: 20px;
  }
}
