.ProfileHeader {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.ProfileHeader img {
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgb(111, 133, 115);
}

.ProfileHeader p {
  margin-right: 60px;
}
