* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Consolas", Arial, Helvetica, sans-serif;
}
body {
  background-image: radial-gradient(rgb(139, 146, 142), rgb(81, 117, 88));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  width: 0px;
}
