* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Consolas", Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(190, 190, 190);
}
::-webkit-scrollbar {
  width: 0px;
}
