.SectionPostFeed {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  top: 105px;
  left: 0px;
  z-index: 1;
}
.FuncionalitComponentsPostFeed {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2px 0px;
  width: 822px;
  background-image: linear-gradient(
    rgb(173, 175, 173),
    rgb(139, 139, 139),
    rgb(173, 175, 173)
  );
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(78, 85, 82);
}
.SectionPostFeed p {
  font-size: 30px;
  font-weight: bold;
  color: rgb(13, 77, 24);
  -webkit-text-stroke: 0.4px rgb(127, 187, 142);
}

.BtnTopRefrech {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.BtnTopRefrech button {
  height: 25px;
  width: 40px;
  background-color: rgb(230, 245, 233);
  box-shadow: 4px 4px 4px rgb(78, 85, 82);
  border: none;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgb(88, 88, 88);
}
.BtnTopRefrech button:hover {
  box-shadow: 3px 3px 2px rgb(78, 85, 82);
  cursor: pointer;
  font-size: 18px;
}
.BtnTopRefrech a {
  padding: 0px 12px;
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .SectionPostFeed {
    top: 80px;
  }
  .FuncionalitComponentsPostFeed {
    width: 100vw;
  }
}
@media (min-width: 421px) and (max-width: 767px) {
  .SectionPostFeed {
    top: 80px;
  }
  .FuncionalitComponentsPostFeed {
    width: 100vw;
  }
  .SectionPostFeed p {
    display: none;
  }
  .BtnTopRefrech button {
    height: 25px;
    width: 40px;
    font-size: 18px;
  }
  .BtnTopRefrech button:hover {
    font-size: 18px;
  }
}
@media (max-width: 420px) {
  .SectionPostFeed {
    top: 80px;
  }
  .FuncionalitComponentsPostFeed {
    width: 100vw;
  }
  .SectionPostFeed p {
    display: none;
  }
  .BtnTopRefrech button {
    height: 25px;
    width: 40px;
    font-size: 18px;
  }
  .BtnTopRefrech button:hover {
    font-size: 18px;
  }
}
